# Machine Learning dependencies
tensorflow==2.16.2
numpy==1.26.4
keras==3.7.0
scikit-learn==1.6.0
pandas==2.2.3

# Deep Learning extras
transformers==4.47.0
safetensors==0.4.5

# TensorFlow dependencies
protobuf==4.25.5
h5py==3.12.1
tensorboard==2.16.2